.header {
    height: 5em;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
    display: inline;
}

.logo {
    display: inline;
    margin-top: .5em;
}

.menu {
    display: inline;
    font-family: 'Poiret One', cursive;
    font-size: 1.25em;
    float: right;
    margin-top: .5em;
    text-transform: uppercase;
}

.about,
.boxes {
    display: table;
    width: 103%;
    height: 100%;
    vertical-align: middle;
    margin: -1em;
}

.about {
    display: none;
}

.pics {
    margin-top: 2em;
    margin-bottom: 10em;
} 

.menu a {
    display: inline;
    padding: .5em;
    color: black;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.description {
    width: 30%;
    color: black;
    font-family: 'Lato', sans-serif;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.description p {
    padding-left: 5em;
    padding-right: 3em;
}

.box1 {
    background-image: url('img/Natpan.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.box2 {
    background-image: url('img/story2.jpg');
    background-repeat: none;
    background-size: 100%;
    background-repeat: no-repeat;
}

.box2:hover {
    background-image: url('img/kelly.jpg');
}

.box3 {
    background-image: url('img/story3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.box3:hover {
    background-image: url('img/jake.jpg');
}


.footer {
    position: fixed;
    width: 103%;
    bottom: 0;
    background-color: white;
    margin-bottom: -5.5em;
    margin-left: -2em;
}

.footer p {
    float: left;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    color: black;
    margin-left: 1.25em;
    text-transform: uppercase;
}

.icons {
    position: relative;
    margin-top: .7em;
    margin-bottom: 5em;
    margin-right: 1em;
    float: right;
}

.icons a {
    float: right;
    color: black;
    font-size: 1.25em;
    text-decoration: none;
    display: inline;
    padding: .75em;
}

.icons a:hover {
    color:  #6E727A;
}

img {
    padding-bottom: 1.5em;
}

html,
body {
    height: 100%;
}

@media only screen and (max-width: 650px) {
    .logo {
        width: 75%;
        margin: auto;
        display: block;
    }

    .menu {
      margin-right: 7%;
        display: block;  
    }

    .boxes {
        width: 110%; 
    }

    .footer {
        width: 105%;
        margin-bottom: 0em;
    }

    .footer p {
        font-size: 1.25em;
        margin-left: 5%;
    }
    }




    }
