.header {
    height: 5em;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
    display: inline;
}

.logo {
    display: inline;
    margin-top: .5em;
    margin-left: -.5em;
}

.menu {
    display: inline;
    font-family: 'Poiret One', cursive;
    font-size: 1.25em;
    float: right;
    margin-top: .5em;
    text-transform: uppercase;
}

.boxes {
    display: table;
    width: 103%;
    height: 100%;
    vertical-align: middle;
    margin: -1em;
}

.container {
    width: 90%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.block {
    padding: 23%;
    display: inline-block;
    margin: 10px;
}

.about {
    display: none;
}

.pics {
    margin-top: 2em;
    margin-bottom: 10em;
}

.menu_bars {
    display: none;
}

.menu a {
    display: inline;
    padding: .5em;
    color: black;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.description {
    width: 30%;
    color: black;
    font-family: 'Lato', sans-serif;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.description p {
    padding-left: 5em;
    padding-right: 3em;
}

.front {
    width: 100%;
    position: absolute;
    top: 5em;
    left: 0;
    overflow: auto;
}

#nat {
    background-image: url('img/Nat1.jpg');
    background-repeat: none;
    background-size: contain;
    background-repeat: no-repeat;
}

#nat:hover {
    background-image: url('img/nat1over.jpg');
}

#roger {
    background-image: url('img/Roger.jpg');
    background-repeat: none;
    background-size: contain;
    background-repeat: no-repeat;
}

#roger:hover {
     background-image: url('img/Rogerover.jpg');
}

#sam {
    background-image: url('img/Sam.jpg');
    background-repeat: none;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -6em;
}

#sam:hover {
     background-image: url('img/Samover.jpg');
}

.footer {
    position: fixed;
    width: 103%;
    bottom: 0;
    background-color: white;
    margin-bottom: -5.5em;
    margin-left: -2em;
}
.footer p {
    float: left;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    color: black;
    margin-left: 1.25em;
    text-transform: uppercase;
}
.icons {
    position: relative;
    margin-top: .7em;
    margin-bottom: 5em;
    margin-right: 1em;
    float: right;
}
.icons a {
    float: right;
    color: black;
    font-size: 1.25em;
    text-decoration: none;
    display: inline;
    padding: .75em;
}
.icons a:hover {
    color: #6E727A;
}
img {
    padding-bottom: 1.5em;
}
html,
body {
    height: 100%;
}
@media only screen and (max-width: 650px) {
    .logo {
        width: 75%;
        margin: auto;
        display: block;
    }
    
    .menu {
        display: none;
        background-color: white;
        position: absolute;
        z-index: 1;
    }
    
    .menu a {
        border: 1px solid black;
        border-color: black;
        display: block;
        z-index: 1;
    }
    
    .menu_bars {
        color: black;
        display: block;
        text-align: center;
        bottom: 1.25em;
        position: relative;
        font-size: 1.25em;
        padding: .5em;
    }
    
    .footer {
        width: 105%;
        margin-bottom: -5em;
    }
    
    .footer p {
        font-size: .5em;
        margin-left: 10%;
    }
    
    .icons {
        bottom: 1em;
    }
    
    .icons a {
        font-size: .75em;
    }
    
    .switch {
        background-image: url('img/Nat1.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 25em;
        position: absolute;
        top: 10em;
        left: 0;
        overflow: auto;
    }
    
    .front {
        display: none;
    }
    
    #container1 {
        margin-top: -2em;
    }

    .block {
        padding: 45%;
        margin-bottom: -2em;
    }

    #sam {
        margin-top: 0em;
        margin-bottom: 10em;
    }

}
